# Environment variables (contains secrets!)
.env

# Virtual Environments
env/
.venv/
venv/

# Django Database
db.sqlite3
db.sqlite3-journal

# Media Files (user uploads)
media/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Static files collected for production
staticfiles/

# IDE files
.vscode/
.idea/
